## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsp

## Arquivos de configuração sensíveis
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
!appsettings.Example.json

## User secrets
secrets.json

## Rider
.idea/

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/

